---
import { Image } from 'astro:assets';
import heroImage from "../assets/160112G.png";
---

<div class="flex flex-col md:flex-row gap-8">
    <div class="flex-1 flex flex-col justify-center items-center gap-6 py-24 md:gap-8 md:py-0 md:items-stretch">
        <h1 class="text-4xl md:text-5xl xl:text-6xl font-extrabold tracking-wider dark:color-white">一起来听歌吧！</h1>
        <p class="text-base md:text-xl">Bilisound 是一款第三方播放器，让收听和下载音乐变得更加简单和轻松。</p>
        <div class="flex items-center gap-4">
            <button type="button" class="text-sm px-5 py-2.5 md:px-6 md:py-3 md:text-base font-medium text-white inline-flex items-center bg-accent-700 hover:bg-accent-800 focus:ring-4 focus:outline-none focus:ring-accent-300 rounded-lg text-center dark:bg-accent-600 dark:hover:bg-accent-700 dark:focus:ring-accent-800">
                <svg class="size-3.5 md:size-4 me-2 md:me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                </svg>
                下载 App
            </button>
            <button type="button" class="text-sm px-5 py-2.5 md:px-6 md:py-3 md:text-base text-accent-700 hover:text-white border border-accent-700 hover:bg-accent-800 focus:ring-4 focus:outline-none focus:ring-accent-300 font-medium rounded-lg inline-flex items-center text-center bg-transparent dark:border-accent-500 dark:text-accent-500 dark:hover:text-white dark:hover:bg-accent-500 dark:focus:ring-accent-800">
                <svg class="size-3.5 md:size-4 me-2 md:me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                </svg>
                使用网页版
            </button>
        </div>
    </div>
    <div class="flex-1 hidden md:flex">
        <Image class="w-full h-[inherit]" src={heroImage} alt="Bilisound 看板娘" />
    </div>
</div>
